@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --body-font-family: "Source Sans Pro", sans-serif;

  --window-background-color: #eeeeee;
  --window-title-color     : #666;
  --window-font-family     : "Source Sans Pro", sans-serif;
  --window-dot-size        : 0.6em;
  --window-close-dot       : lightcoral;
  --window-minimize-dot    : lightsalmon;

  --terminal-font-size        : 14px;
  --terminal-font-color       : #eee;
  --terminal-background-color : #1f1f1f;
  --terminal-font-family      : "Inconsolata", monospace;
  --terminal-folder-color     : powderblue;
  --terminal-file-color       : aliceblue;
  --terminal-prefix           : pink;
  --terminal-current-directory: lightsteelblue;

  --bottom-note-heart: hsl(350, 100%, 50%);
}

* {
  position  : relative;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin     : 0;
  padding    : 0;
  /* height  : 100vh; */
  line-height: 1.35em;
  font-family: var(--body-font-family);
  overflow   : hidden;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

::-moz-selection {
  background: var(--terminal-font-color);
  color     : var(--terminal-background-color);
}

::selection {
  background: var(--terminal-font-color);
  color     : var(--terminal-background-color);
}

main {
  position: absolute;
  width   : 100%;
  height  : 100%;
}

div#show_terminal {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  z-index  : 0;
}

div#show_terminal button {
  border     : 2px double var(--bottom-note-heart);
  background : var(--terminal-background-color);
  color      : var(--terminal-font-color);
  font-family: var(--terminal-font-family);
  font-size  : var(--terminal-font-size);
  padding    : 1em;
}

.window_container {
  overflow             : hidden;
  border-radius        : 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  -ms-border-radius    : 5px;
  -o-border-radius     : 5px;
  transition           : 0.35s box-shadow ease-in-out, 0.35s margin ease-in-out;
  -webkit-transition   : 0.35s box-shadow ease-in-out, 0.35s margin ease-in-out;
  -moz-transition      : 0.35s box-shadow ease-in-out, 0.35s margin ease-in-out;
  -ms-transition       : 0.35s box-shadow ease-in-out, 0.35s margin ease-in-out;
  -o-transition        : 0.35s box-shadow ease-in-out, 0.35s margin ease-in-out;
}

.window_container:hover,
.window_container:focus {
  box-shadow    : 2px 2px 0px 0px rgb(100 100 100 / 0.35);
  /* margin-top : -1px; */
  /* margin-left: -1px; */
}

.window_container:focus {
  z-index: 3 !important;
}

.window_top {
  width      : 100%;
  height     : 1.7em;
  background : var(--window-background-color);
  color      : var(--window-title-color);
  text-align : center;
  line-height: 1em;
  padding    : 0.35em;
  font-family: var(--window-font-family);
}

.window_name {
  font-size     : 0.85em;
  letter-spacing: 1px;
  font-weight   : bold;
}

.dots {
  position   : absolute;
  top        : calc(0.85em - (var(--window-dot-size) / 2));
  right      : calc(0.85em - (var(--window-dot-size) / 2));
  height     : var(--window-dot-size);
  line-height: var(--window-dot-size);
}

.dots div {
  height               : var(--window-dot-size);
  width                : var(--window-dot-size);
  display              : inline-block;
  cursor               : pointer;
  border-radius        : 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius   : 100%;
  -ms-border-radius    : 100%;
  -o-border-radius     : 100%;
}

.dots div:not(:last-child) {
  margin-right: 0.1em;
}

.dots .close {
  background: var(--window-close-dot);
}

.dots .minimize {
  background: var(--window-minimize-dot);
}

div#terminal_window {
  height            : 75%;
  width             : 75%;
  max-width         : 750px;
  top               : 12.5%;
  /* margin         : auto; */
  margin-left       : auto;
  margin-right      : auto;
  z-index           : 1;
  display           : grid;
  /* for mobile */
  grid-template-rows: 1.7em auto auto;
  /* for mobile */
}

div#terminal_window.maximized {
  height               : 100%;
  width                : 100%;
  max-width            : 100%;
  top                  : 0;
  border-radius        : 0;
  -webkit-border-radius: 0;
  -moz-border-radius   : 0;
  -ms-border-radius    : 0;
  -o-border-radius     : 0;
  transform            : none !important;
  -webkit-transform    : none !important;
  -moz-transform       : none !important;
  -ms-transform        : none !important;
  -o-transform         : none !important;
}

div#terminal {
  /* height: calc(100% - 1.7em); */
  /* height: calc(100% - 1.7em - 3em - 5px); */
  /* for desktop */
  width             : 100%;
  background        : var(--terminal-background-color);
  color             : var(--terminal-font-color);
  overflow          : auto;
  position          : relative;
  font-family       : var(--terminal-font-family);
  font-size         : var(--terminal-font-size);
  border            : 1.35em solid var(--terminal-background-color);
  border-right-width: 1em;
  padding-right     : 1em;
  border-bottom     : none;
  /* for mobile */
}

div#terminal_input>* {
  display: inline-block;
}

div#terminal a {
  color: var(--terminal-font-color);
}

div#terminal p {
  margin: 0.35em 0;
}

div#welcome p:first-child {
  margin-top: 0;
}

.terminal_tree p {
  line-height: 1.35em;
}

.terminal_tree p:not(:first-child):not(:last-child) {
  margin: 0 !important;
}

.terminal_tree p:first-child {
  margin-bottom: 0 !important;
}

.folder {
  font-weight: bold;
  color      : var(--terminal-folder-color);
}

.file {
  color: var(--terminal-file-color);
}

.terminal_item:not(.terminal_tree) .file,
.terminal_item:not(.terminal_tree) .folder {
  display: inline-block;
}

span.terminal_directory,
span#terminal_cur_directory {
  font-weight: bold;
  color      : var(--terminal-current-directory);
}

span.terminal_prefix {
  color: var(--terminal-prefix);
}

span#terminal_stdin_cursor {
  position: absolute;
  left    : 0;
}

span#terminal_stdin_cursor::after {
  content   : "0";
  color     : transparent;
  box-shadow: inset 0 0 0px 1px var(--terminal-font-color);
}

.terminal_focused span#terminal_stdin_cursor::after {
  background    : var(--terminal-font-color);
  mix-blend-mode: difference;
}

div#terminal_buttons {
  background : var(--terminal-background-color);
  color      : var(--terminal-font-color);
  font-family: var(--terminal-font-family);
  font-size  : var(--terminal-font-size);
  padding    : 0.35em 0.65em 0 0.65em;
  line-height: 2.5em;
}

.terminal_command_button {
  display     : inline-block;
  background  : var(--terminal-background-color);
  color       : var(--terminal-font-color);
  font-family : var(--terminal-font-family);
  font-size   : var(--terminal-font-size);
  padding     : 0.35em 0.5em;
  border      : 1px solid;
  /* margin   : 0 0.5em 0.5em 0; */
  margin-right: 0.5em;
}

div#settings_window {
  width    : 250px;
  max-width: 90%;
  position : absolute;
  top      : 0;
  z-index  : 1;
  display  : none;
}

div#settings {
  background   : var(--terminal-background-color);
  color        : var(--terminal-font-color);
  font-family  : var(--terminal-font-family);
  font-size    : var(--terminal-font-size);
  border       : 1em solid var(--terminal-background-color);
  max-height   : 150px;
  padding-right: 0.5em;
}

div#settings.maximized {
  height    : auto;
  max-height: 100%;
}

.settings_line {
  display              : grid;
  grid-template-columns: auto auto;
  align-items          : center;
  height               : 2em;
}

.settings_input {
  text-align: right;
}

.settings_input input[type="color"] {
  height    : 2em;
  width     : 2em;
  border    : none;
  padding   : 0;
  margin    : 0;
  background: none;
  appearance: auto;
  overflow  : hidden;
}

.settings_input input[type="text"] {
  font-family  : var(--terminal-font-family);
  font-size    : var(--terminal-font-size);
  color        : var(--terminal-font-color);
  background   : var(--terminal-background-color);
  border       : none;
  border-bottom: 1px solid;
  width        : 50%;
}

div#files_window {
  width    : 250px;
  max-width: 90%;
  position : absolute;
  top      : 0;
  z-index  : 1;
  display  : none;
}

div#files_window.maximized {
  width: 450px;
}

div#files {
  background   : var(--terminal-background-color);
  color        : var(--terminal-font-color);
  font-family  : var(--terminal-font-family);
  font-size    : var(--terminal-font-size);
  border       : 1em solid var(--terminal-background-color);
  max-height   : 150px;
  padding-right: 0.5em;
}

div#files_window.maximized div#files {
  height    : auto;
  max-height: 100%;
}

div#files p {
  line-height: 1.35em;
  margin     : 0.15em 0;
}

div#bottom_note {
  max-width         : 5em;
  position          : absolute;
  bottom            : 1em;
  left              : 1em;
  line-height       : 1.15em;
  background        : #fff;
  cursor            : default;
  transform         : scale(0.7);
  -webkit-transform : scale(0.7);
  -moz-transform    : scale(0.7);
  -ms-transform     : scale(0.7);
  -o-transform      : scale(0.7);
  transform-origin  : bottom left;
  transition        : 0.35s transform ease-in-out;
  -webkit-transition: 0.35s transform ease-in-out;
  -moz-transition   : 0.35s transform ease-in-out;
  -ms-transition    : 0.35s transform ease-in-out;
  -o-transition     : 0.35s transform ease-in-out;
}

div#bottom_note:hover {
  transform        : scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform   : scale(0.9);
  -ms-transform    : scale(0.9);
  -o-transform     : scale(0.9);
}

div#bottom_note svg {
  height      : 0.8em;
  width       : 0.8em;
  margin      : 0 0.15em 0 0;
  stroke      : var(--bottom-note-heart);
  /* fill     : var(--bottom-note-heart); */
  stroke-width: 3px;
}

div#bottom_note img {
  height               : 2em;
  width                : 2em;
  position             : absolute;
  right                : -1em;
  top                  : calc(50% - 1em);
  opacity              : 0;
  border-radius        : 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius   : 100%;
  -ms-border-radius    : 100%;
  -o-border-radius     : 100%;
  transition           : 0.35s all ease-in-out;
  -webkit-transition   : 0.35s all ease-in-out;
  -moz-transition      : 0.35s all ease-in-out;
  -ms-transition       : 0.35s all ease-in-out;
  -o-transition        : 0.35s all ease-in-out;
}

div#bottom_note:hover img {
  right             : -2em;
  opacity           : 1;
  transition        : 0.45s opacity ease-in-out, 0.55s right ease-in-out;
  -webkit-transition: 0.45s opacity ease-in-out, 0.55s right ease-in-out;
  -moz-transition   : 0.45s opacity ease-in-out, 0.55s right ease-in-out;
  -ms-transition    : 0.45s opacity ease-in-out, 0.55s right ease-in-out;
  -o-transition     : 0.45s opacity ease-in-out, 0.55s right ease-in-out;
}

@media only screen and (min-width: 992px) {
  div#terminal_window {
    display: block;
  }

  div#terminal {
    height       : calc(100% - 1.7em);
    border-bottom: 1.35em solid var(--terminal-background-color);
  }

  div#terminal_buttons {
    display: none;
  }
}